* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.container {
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #555;
    height: 480px;
    width: 350px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.top-text {
    color: #aaa;
}

.screen {
    background-color: #777;
    width: 100%;
    height: 20%;
    border-radius: 15px;
    margin: 20px 0;
    padding: 10px;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.operations {
    font-size: 15px;
    color: #ccc;
    align-self: end;
}

.result {
    font-size: 25px;
    text-align: end;
}

.buttons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 15px;
    height: 100%;
    display: grid;
    grid-gap: 10px;

}

.ac {
    grid-column: 1/3;
}

.c {
    grid-column: 3/5;
}

button {
    border-radius: 4px;
    border: none;
    outline: none;
}

button:active {
    background-color: #ccc;
}

.personal-brand {
    color: #777;
    border: 1px solid #777;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    position: absolute;
}